<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>About Classroom</title>
    <base href="/">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="./css/mainpage.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>

</head>
<body>
    
    <%- include('./partials/nav.ejs') %>
    <!-- Side bar start-->
    <%- include('./partials/sidebar.ejs') %>
    <div class="content">
        <div class="container">
            <h3>About Classroom</h3>
            <div class="row">
                <% classroom.forEach((data)=>{ %> 
                <a href="/classroom/<%= data.cid %>" style="text-decoration: none;">
                    <div class="box">
                        <figure class="card__icon" style="--i:#4eb7ff">
                            <!-- <ion-icon name="color-palette-outline"></ion-icon> -->
                            <ion-icon name="bookmarks-outline"></ion-icon>
                        </figure>
                        <div class="card__content">
                            <h2 class="card__title">
                                <%= data.cname %>
                            </h2>
                            <p class="time">
                                <%= data.date_start.getDate() %>/<%= data.date_start.getMonth() + 1 %>/<%= data.date_start.getFullYear() %>
                                - <%= data.date_end.getDate() %>/<%= data.date_end.getMonth() + 1 %>/<%= data.date_end.getFullYear() %>
                            </p>
                        </div>
                    </div>
                </a>
                <% }) %>
            </div>
        </div>
    </div>
    <!--Side bar end-->
    
    <script type="module" src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.esm.js"></script>
    <script nomodule src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.js"></script>
    <script src="./js/dropdown.js"></script>

</body>
</html>