<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Edit</title>
    <base href="/">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
    <link rel="stylesheet" href="./css/s-dashboard.css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>

</head>
<body>
    <%- include('./partials/s-nav.ejs') %>  
    <%- include('./partials/s-sidebar.ejs') %>  
    <div class="box-container">
        <div class="row">
            <div class="col-md-12">
                <form action="/edit_profile/<%= key.sid %>" method="POST">
                    <div class="d-flex justify-content-between align-items-center mb-3">
                        <h3 class="title"><span class="text-style1">Edit </span><span class="textstyle">Your Profile</span></h3>
                    </div>
                    <hr class="hr-style">
                    <% if (message) { %> 
                        <div style="text-align: center; " class="alert alert-<%= message.type %> alert-dismissible fade show" id="alert-message">
                            <button type="button" class="close" data-dismiss="alert">&times;</button>
                            <strong><%= message.message %></strong>
                        </div>
                    <% } %>
                    <div class="row mt-3">
                        <div class="col-md-4">
                            <div class="info-box" style="box-shadow: 10px 5px 12px #0000001f;height: 73vh !important;">
                                <div class="info-content">
                                    <div class="profile-card">
                                        <center>
                                            <img src="/img/graduated.png" alt="profile-card" class="profile-icon" style="margin-top:8px">
                                            <div class="card-name"><%= data.name %></div>
                                            <hr class="seperator">
                                            <div class="card-txt">Student ID: <strong><%= data.sid %></strong></div>
                                            <div class="card-txt">Email: <strong><%= data.email %></strong></div>
                                            <% if(key.dob){ %> 
                                            <div class="card-txt">Date of birth: <strong><%= data.dob.getDate() %>-<%= data.dob.getMonth() + 1 %>-<%= data.dob.getFullYear() %></strong></div>
                                            <% }else{ %> 
                                                <div class="card-txt">Date of birth: <strong></strong></div>
                                            <% } %>

                                            <div class="card-txt">Phone: <strong><%= data.phone %></strong></div>
                                            <div class="card-txt"><ion-icon name="location-outline"></ion-icon>Studying at: <strong><%= data.workplace %></strong></div>
                                        </center>                                        
                                    </div>
                                </div>
                            </div>
                            
                        </div>
                        <div class="col-md-4">
                            <h4 class="mb-4 header-style">Personal Information</h4>
                            <hr>
                            
                            <label class="labels">Full Name</label>
                            <div class="form-floating">
                                <ion-icon name="person-outline"></ion-icon><input type="text" class="form-control" placeholder="Full name" value="<%= data.name %>" name="name">
                            </div>
                            <label class="labels">Date of birth</label>
                            <div class="form-floating">
                                <% if (key.dob){ %>
                                <ion-icon name="calendar-outline"></ion-icon><input type="text" class="form-control" placeholder="YYYY-MM-DD" value="<%= data.dob.getFullYear() %>-<%= data.dob.getMonth() + 1 %>-<%= data.dob.getDate() %>" name="dob">
                                <% }else{ %> 
                                    <ion-icon name="calendar-outline"></ion-icon><input type="text" class="form-control" placeholder="YYYY-MM-DD" name="dob">
                                <% } %>
                            </div>
                            <label class="labels">Phone</label>
                            <div class="form-floating">
                                <ion-icon name="call-outline"></ion-icon><input type="text" class="form-control" placeholder="Phone number" value="<%= data.phone %>" name="phone">
                            </div>
                            <label class="labels">Workplace</label>
                            <div class="form-floating">
                                <ion-icon name="briefcase-outline"></ion-icon><input type="text" class="form-control" placeholder="Work place" value="<%= data.workplace %>" name="workplace">
                            </div>
                            <div class="mt-4 text-center">
                                <button class="btn btn-outline-info" type="submit"><ion-icon name="save-outline"></ion-icon>Save Profile</button>
                            </div>
                            
                        </div>
                        <div class="col-md-4">
                            <h4 class="mb-4 header-style">Parent Information</h4>
                            <hr>
                            <% if (data){ %>
                                <label class="labels">Parent Name</label>
                                <div class="form-floating">
                                    <ion-icon name="person-outline"></ion-icon><input type="text" class="form-control" placeholder="Full name" name = "pname" value="<%= data.p_name %>">
                                </div>
                                <label class="labels">Parent Email</label>
                                <div class="form-floating">
                                    <ion-icon name="mail-outline"></ion-icon><input type="email" class="form-control" placeholder="Email" name = "pemail" value="<%= data.p_email %>">
                                </div>
                                <label class="labels">Parent Job</label>
                                <div class="form-floating">
                                    <ion-icon name="briefcase-outline"></ion-icon><input type="text" class="form-control" placeholder="Job" name="pjob" value="<%= data.p_job %>">
                                </div>
                                <label class="labels">Parent Phone</label>
                                <div class="form-floating">
                                    <ion-icon name="call-outline"></ion-icon><input type="text" class="form-control" placeholder="Phone number" name ="pphone" value="<%= data.p_phone %>">
                                </div>
                                <div class="form-floating">
                                    <a href="/addmore" style="font-size: 30px;" data-toggle="modal" data-target="#editor"><ion-icon name="add-circle-outline"></ion-icon></a>                            
                                </div>
                            <% }else{ %> 
                                <label class="labels">Parent Name</label>
                                <div class="form-floating">
                                    <ion-icon name="person-outline"></ion-icon><input type="text" class="form-control" placeholder="Full name">
                                </div>
                                <label class="labels">Parent Email</label>
                                <div class="form-floating">
                                    <ion-icon name="mail-outline"></ion-icon><input type="email" class="form-control" placeholder="Email" >
                                </div>
                                <label class="labels">Parent Job</label>
                                <div class="form-floating">
                                    <ion-icon name="briefcase-outline"></ion-icon><input type="text" class="form-control" placeholder="Job">
                                </div>
                                <label class="labels">Parent Phone</label>
                                <div class="form-floating">
                                    <ion-icon name="call-outline"></ion-icon><input type="text" class="form-control" placeholder="Phone number">
                                </div>
                                <div class="form-floating">
                                    <a href="/addmore" style="font-size: 30px;" data-toggle="modal" data-target="#editor"><ion-icon name="add-circle-outline"></ion-icon></a>                            
                                </div>    
                            <% } %>
                        </div>
                    </div>
                </div>
            </form>
            <!-- Modal popup-->
                <!-- Modal for edit -->
            <div class="modal fade" id="editor">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <!-- Modal Header -->
                        <div class="modal-header">
                            <h4 class="modal-title">Add Parent Information</h4>
                            <button type="button" class="close" data-dismiss="modal">&times;</button>
                        </div>
                        <!-- Modal body -->
                        <form action="/addmore/<%= key.sid %>" method="POST" role="form">
                            <div class="modal-body">
                                <input type="hidden" value="<%= key.sid %>" name="sid">
                                <div class="form-group">
                                    <label class="labels">Parent Name</label>
                                    <div class="form-floating">
                                        <ion-icon name="person-outline"></ion-icon><input type="text" class="form-control" name="name" placeholder="Your parent name">
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="labels">Parent Email</label>
                                    <div class="form-floating">
                                        <ion-icon name="mail-outline"></ion-icon><input type="email" class="form-control" name="email" placeholder="Email">
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="labels">Parent Job</label>
                                    <div class="form-floating">
                                        <ion-icon name="briefcase-outline"></ion-icon><input type="text" class="form-control"name="job"  placeholder="Job">
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="labels">Parent Phone</label>
                                    <div class="form-floating">
                                        <ion-icon name="call-outline"></ion-icon><input type="text" class="form-control" name="phone" placeholder="Phone number">
                                    </div>
                                </div>
                                <div class="modal-footer">
                                    <button type="button" class="btn btn-danger float-right" data-dismiss="modal">Close</button>
                                    <button class="btn btn-primary" type="submit" id="btnUpdateSubmit">
                                        Add
                                    </button>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
    <script src="https://code.jquery.com/jquery-3.1.0.min.js"></script>
    <script type="module" src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.esm.js"></script>
    <script nomodule src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.js"></script>
    <script src="./js/data.js"></script>
    <script src="./js/alert.js"></script>
    <script src="./js/dropdown.js"></script>

</body>
</html>